/* body{  
    font-family: 'Caveat', cursive;
    font-weight: bold;
} */
h2{
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
#link{
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
#brand-name{
        font-family: 'Caveat', cursive;
        font-size: 30px;
}